<!DOCTYPE html>
<html>
<head>
  <title>Six Slides</title>
  <link rel="stylesheet" href="lib/reveal.js/reveal.css">
  <!-- Theme will be dynamically loaded based on user selection -->
  <link id="theme-stylesheet" rel="stylesheet" href="lib/reveal.js/theme/default.css">
  <!-- Custom styles for viewer -->
  <link rel="stylesheet" href="assets/styles/viewer.css">
</head>
<body>
  <!-- Logo container in the top right corner - will be populated by JS -->
  <div class="logo-container">
    <img src="assets/icons/icon128.png" alt="Six Slides Logo">
  </div>

  <div class="reveal">
    <div class="slides" id="slideContainer">
      <!-- Slides will be inserted here by the JS -->
    </div>
  </div>
  
  <!-- Core reveal.js -->
  <script src="lib/reveal.js/reveal.js"></script>
  
  <!-- Reveal.js plugins -->
  <script src="lib/reveal.js/plugin/markdown/markdown.js"></script>
  
  <!-- Our viewer script -->
  <script src="controllers/viewer/index.js"></script>
</body>
</html>